.contact-us-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px;
    height: 450px;
    
}

.team-img{
    /* padding:50px; */
    /* margin:200px; */
    width: 100%;
   /* height:200px;*/
    /* margin-left: 100px;    */
    display: flex;
    justify-content: space-around;
}
.team-img ul{
    margin: 0px;
    margin-top: 12px;
}
@media(max-width:900px){
    .team-img{
        flex-direction: column;
        align-items: center;
    }
    .timg img{
        height: auto;
    }
    .timg{
        margin-bottom: 22px;
    }

}
.contact-us-content-description{
    margin-left: 100px;
}
.timg img{
    height: 274px;
    width: 264px;
}
.tc{
    text-align: center;
    justify-content: center;
    flex-direction:column;
    margin-left: 112px;
    margin:0px;
}
.ndiv{
    /* border:1px solid black; */
    border-radius:14px;
    margin:22px 0px;
    /* background-color:black; */
    /* color:white; */
    font-size:24px;
    padding:0px;
}
.contact-us-title{
    font-size: 35px;
    /* color: white; */
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 50px;
    margin-right: 100px;
    text-align: center;
}
.timg{
    margin:16px;
}

.contact-us-details{
    width: 100%;
    margin-top: 50px;

   
}
.contact-us-details > div{
    margin-top: 10px;
    color: black;
    font-size: 18px;
    font-family: 'AvenirLTStd-Book';
}
.email a{
    text-decoration: none;
    color: black;
}
/* .serviceTitle{
    margin: 80px;
} */

tr{

    /* margin-left: 50px; */
    /* margin:0 0 2rem 0; */
}

.tab{
    /* padding: 0 30px 0 0;  */
}
ul{
    margin-left:50px
}

table{
    margin:0 0 2rem 0;
    margin-left:0rem;

}

#test{
    height:220px;
}

@media(max-width:900px){
    table tr{
        display: flex;
        flex-direction: column;
    }
}
@media(max-width:600px){
    .contact-us-details{
        width: 90%;
        margin:auto;
    }
}