.parent-card-group {
  display:flex;
  width: 100%;
justify-content:space-evenly;
flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  margin-top: 12px;

}

.parent-card-container{
 width:100%;
  margin: auto;
  /*margin-top: 50px;
  margin-bottom: 50px;*/
}
.card {
 /*max-width: 100%;
  width: 30%;*/

/*margin: 50px;*/
margin-bottom:50px;
  margin-top: 0px;
  max-width: 300px;
  width: 100%;
}
@media (max-width:600px){
  .parent-card-group{
    display: flex;
  }
}



@media only screen and (max-width: 900px) {
  .parent-card-group {
    flex-direction: column;
    align-items: center;
    /* width: 98vw; */
  }
  .card img {
    height:100%;
    height: 100%;
  } 
  .card {
    margin-top: 2rem;
    width: 100%;
    /* height: 100%; */
  }
  .parent-card-container{
    width: 100%;
    margin: auto;
  }
}

  @media (max-width: 1200px) {
  .parent-card-group {
   
    align-items: center;
  }
  .card {
    margin-top: 2rem;
     height: 80%; 
  }
  .parent-card-container{
    width: 100%;
    margin: auto;
  }
}  

/* 320px
480px
600px
768px
900px
1024px
1200px */

.card img {
  height:100%;
  height: 264px;
} 

.parent-card-container {
 margin: auto;
 width: 100%;
}

.card-title {
  color: #003b4b;
  font-weight: 700;
  text-align: center;
}

.card-text {
  font-family: 'Avenir-Book';
  margin-top: 25px;
}

@media only screen and  (max-width: 1366px) {
  
} 