.serviceTitle{
    margin: 30px;
}
@media(min-width:900px){
    .form-group img{
        /* max-width: 280%; */
        margin-left: -50px;
        margin-top: 44px;
    }

    .form-group p{
        padding: 0px 34px;
        text-align: justify;
    }
    .form-control{
        width: 80%;
        margin: auto;
    }
    /* .form-control h2{
        margin: 16px 34px;
    } */
    
}
@media(max-width:545px){
    .form-control tr{
        display: flex;
        flex-direction: column;
    }
    .form-group img{
        max-width: 30%;
    }
    .sc{
        flex-direction: column;
    }
    .sm{
        margin-left: 0px !important;
    }
    .mtc{
        text-align: center;
    }
}
.simg img{
    width: 190px !important;
    height: auto;
    margin-top: 22px;
}
.sm{
    margin-left: 34px;
    line-height: 16px;
    font-size: 12px;
}
.sm h2{
    font-size: 16px;
}
.services h2{
    font-size: 2rem;
    margin-top: 52px;

}
.services p{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}
.sc{
    display: flex;
}
.stitle{
    margin: 44px 0;
}
.stu{
    color: #56BBD0;
}
.stb{
    color: #0F2137;
}
.mh{
    color: #0F2137 !important;
}