

.crousel_container{
    height: 35rem;
}
.carousel-caption h3{
    font-size: 2.75rem;
    font-weight: 500;
}
.carousel-caption p{
    font-size: 1.75rem;
    font-weight: 400;
}

.carousel-caption{
    display: none;
}
.carousel-inner{
    height: 35rem;
}
.carousel-indicators [data-bs-target] {
    margin-bottom: 2rem;
}
/* .carousel-item img {
width: 100%;
height: 100%;
} */
.carousel-item img {
height: 30rem;
} 
/* .carousel-item img{
    position: relative;
    top: -122px;
 } */
 /* .carousel-item{
    margin-right: 0;
 } */

@media (max-width: 900px) {

    .carousel {
        height: 18rem;
    }
    .crousel_container{
        height: 20rem;
    }
    .carousel-caption h3{
        font-size: 2.75rem;
        font-weight: 500;
    }
    .carousel-caption p{
        font-size: 1.75rem;
        font-weight: 400;
    }
    
    .carousel-caption{
        display: none;
    }
    .carousel-inner{
        height: 28rem;
    }
 
    .carousel-indicators [data-bs-target] {
        margin-bottom: 2rem;
    }





}


.carousel-text{
    position: relative;
    top: -80%;
    color: white;
    width: 40%;
    margin: auto;
}
@media(max-width:900px){
    .carousel-text {
        width: 90%;
        height: 50%;
    }
    .sh{
        font-size: 24px !important;
    }
    .min-btn{
        font-size: 12px;
    }
}
.ctext{
    display: flex;
    flex-direction: column;
}
.ct2{
    font-size: 26px !important;
}
.chead{
    font-family: auto !important;
    position: relative;
    top: -106px;
}
.sh{
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 500;
    
}
.subhead{
    margin-top: 44px;
    display: flex;
    flex-direction: column;
}
.suhead{
    font-size: 16px;
    position: relative;
}
.mb-24{
    margin-bottom: 24px;
}
@media(min-width:992px){
    .wh{
        width: 100%;
    }
}
@media(max-width:900px){
    .chead{
        top:-12px;
        font-size:24px !important;
    }

}
@media(max-width:600px){
    .carousel-indicators , .carousel-control-prev, .carousel-control-next {
        display:none !important;
    }
    .carousel{
        height: 100%;
        overflow: hidden;
    }
    .mr .quote-title{
        margin-top: 22px !important;
    }
    .tab-detail{
        margin: 22px auto !important;
    }
    .subhead{
        margin-top: 14px;
    }
    

}