.welcome-quote-container{
    margin: 112px;
    margin-left: 160px;
    display: flex;
    flex-direction: row;
}
.welcome-quote-title{
    font-size: 24px;
    color: #003B4B;
    letter-spacing: 1.2px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: left;
}
.welcome-quote-image{
    margin-top: 100px;
}
.unit-selector{
    background-color: white;
    border: 1px solid #003b4b;
    font-family: Avenir-Book;
    color: #003b4b;
    font-size: 15px;
    font-weight: 600;
    padding: 8px;
}

.project-image-text{
    position: absolute;
    /* left: 10%; */
    color: white;
    /* top: 50%; */
    margin-left: 20px;
    font-size:30px;
    font-weight: 600;
}
@media(max-width:992px){
    .protop .project-image-text {
        top: 94px;
        font-size: 22px;
        text-align: center;
    }
    .welcome-quote-container{
        margin: 24px;
        flex-direction: column-reverse;
    }
    .protop img{
        width: 100%;
        height: 60%;
    }
    .protop{
        height: 100% !important;
    }
    .protop .btn{
        font-size: 16px;
    }
    .proq img{
        width: 100%;
    }
    .project-image-text {
        left: -20px;
    }
    .mainProject-content ul{
        margin-left: 0px;
    }

}
.project-image-button{
    align-items: center;
    align-content:space-around;
}
.quote-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #003B4B;
    padding: 0px 20px 0px 0px;
    letter-spacing: 1.04px;
    line-height: 52px;
}
.quote-description{
    width: 90%;
    padding: 10px;
    padding-left: 0;
    margin-top: -48px;
    font-family: 'AvenirLTStd-Book';
    font-size: 16px;
    color: #000000;
    text-align: justify;
    letter-spacing: 0.8px;
    line-height: 24px;
}
.features-content{
    text-align: center;
    margin-left: 110px;
}
.features-title{
    font-size: 40px;
    font-weight: 600;
    color: #003B4B;
    margin-right: 100px;
}

.mainProject-container{
    width: 80%;
    margin-left: 150px;
}
@media(max-width:900px){
    .mainProject-container{
        width: 80%;
        margin-left: 15px;
    }
    .fc{
        margin-left: -32px !important;
    }
}
@media(min-width:992px){
    .projectc{
        width: 60%;
        margin: auto;
        margin-top: 64px;
    }
}