.dflex{
    display: flex;
    flex-direction: column;
    width: 214px;
    margin: auto;
}
.modal-body{
    display: flex;
    justify-content: space-evenly;
    padding:0px;

}
.f8{
    font-size:9px !important;
    margin-right:1px;
}

.fsm{
   font-size: 12px;
   padding: 6px; 
}
.cm{
    position: absolute;
    top: 100%;
    /* bottom: 10%; */
    /* width: 90vw;
    height: 90vh; */
    text-align: center;
    /* filter: blur(8px); */
    /* backdrop-filter: blur(4px); */
    /* background: white; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.modal-body .mlmodal, .modal-body .mrmodal{
    margin-left: 0px;
}
@media(max-width:900px){
    .modal-body{
        flex-direction: column ;
    }
    .modal-body .mlmodal, .modal-body .mrmodal{
        margin-left: 14px;
        margin:auto;
    }
    .modal-body table tr{
        flex-direction: row;
    }
        .modal-body table tr td{
        padding:4px;
    }
    .modal-body .btn{
    font-size:10px
    }
}
.mdm{
    box-shadow: 4px 48px 84px 2px rgb(17, 47, 67);
    background-color: white;
    z-index: 22;
}
